commands:
  01_create_virtualenv:
    command: "python3.13 -m venv /var/app/venv/staging"
    ignoreErrors: false

  02_install_requirements:
    command: "/var/app/venv/staging/bin/pip install --upgrade pip && /var/app/venv/staging/bin/pip install -r /var/app/current/requirements.txt"
    ignoreErrors: false
