option_settings:
  aws:elasticbeanstalk:application:environment:
    DEBUG: "True"
    SECRET_KEY: "secret_key132dsaads123"
    DB_HOST: "estructura-django-db.cbgwwkuui0z9.us-east-2.rds.amazonaws.com"
    DB_NAME: "estructura_django_db"
    DB_PASSWORD: "MyGPUeZVeeaTrWUE8xrZ"
    DB_PORT: "5432"
    DB_USER: "postgres"
    APP_NAME: "nombre_app"
    ALLOWED_HOSTS: "estructura-django-dev.us-east-2.elasticbeanstalk.com"
