{% extends 'partials/layout1.html' %}

{% block content %}
<div class="flex flex-col gap-5 min-h-[calc(100vh-188px)] sm:min-h-[calc(100vh-204px)]">
    <div class="grid grid-cols-1 gap-5">
        <div class="bg-white dark:bg-dark dark:border-gray/20 border-2 border-lightgray/10 p-5 rounded-lg">
            <h1>test</h1>
            <a href="db/nombre_app_django_admin_log">nombre_app_django_admin_log</a>
            <p></p>
            <a href="db/nombre_app_auth_permission">nombre_app_auth_permission</a>
            <p></p>
            <a href="db/nombre_app_auth_group">nombre_app_auth_group</a>
            <p></p>
            <a href="db/nombre_app_django_content_type">nombre_app_django_content_type</a>
            <p></p>
            <a href="db/nombre_app_django_session">nombre_app_django_session</a>
            <p></p>
            <a href="db/nombre_app_usuario">nombre_app_usuario</a>
            <p></p>
            <a href="db/nombre_app_logauditoria">nombre_app_logauditoria</a>
            <p></p>
            <a href="db/nombre_app_auditlog_logentry">nombre_app_auditlog_logentry</a>
            <p></p>
        </div>
    </div>
</div>
{% endblock %}